// .container {
// 	border:3px solid red;
// }

.banner-container {
	background-image: url(../img/site_showcase_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-container * {
	color:white;
}

.elements-banner {
	margin-top:40px;
	border:2px solid blue;
}

.elements-banner > div {
	border:1px solid red;
}

.elements-banner h1 {
	font-size:60px;
	margin-bottom:50px;
}

.elements-banner p {
	font-size:20px;
	margin-bottom:30px;
}

.elements-banner div:first-child {
	border:2px solid orange;
	display:flex;
	flex-direction: column;
	justify-content:center;
	height:550px;
}
body > .navbar {
	margin-bottom:0
}
#Gamma{
	color: #00b89d;
}
p.pictures-title{
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px; 
}
p.pictures-text{
	font-size: 15px;
	margin-top: -10px; 
}
.icons-download > div {
	border:2px solid green;
}
.green-container{
	background-color: #00b89d; 
	border:1px solid violet;
	color: white;
}
.green-container-text{
	text-align: justify;
}
footer{
	background-color: #333333;
	color: white;
}
#footer-nav li a{
	color: white;
}
.copyRight{
	padding-top: 15px;
}
.about-container{
	background-color: #00b89d;
	color: white;
}
.middle-container{
	margin-top: 40px;
	margin-bottom: 40px;
}
















